servers:
  web:
    hosts:
      - fizzy.37signals.works
  jobs:
    hosts:
      - fizzy.37signals.works

proxy:
  hosts:
    - fizzy.37signals.works # the single tenant is named "fizzy"

env:
  clear:
    RAILS_ENV: beta

x-beamer-accessory: &beamer-accessory
  image: basecamp/beamer
  registry:
    username: bcbot
    password:
      - BASECAMP_REGISTRY_PASSWORD
  options:
    user: 1000 # Match the UID of the Rails app, for volume permissions
  volumes:
    - fizzy:/storage

accessories:
  beamer-primary:
    <<: *beamer-accessory
    service: beamer-primary
    cmd: beamer primary --remove-after=1h --dir=/storage
    port: 5000:80
    roles:
      - web
