:root {
  --splat-size: 30vw;
}

.windshield {
  margin-block: clamp(var(--block-space), 3%, calc(var(--block-space) * 2));

  > * {
    flex-shrink: 1;
  }
}

.splat {
  --hover-size: 0;
  --splat-color: var(--color-ink);
  --splat-rotate: 20deg;

  aspect-ratio: 1;
  block-size: var(--splat-size);
  color: var(--splat-color, currentColor);
  container-type: inline-size;
  display: grid;
  max-inline-size: 100%;
  place-items: center;
  position: relative;
  transition: all 0.2s ease;

  .windshield & {
    animation: float-up-left 400ms normal forwards ease-out;

    &:nth-of-type(2n+1) {
      animation-delay: 50ms;
      animation: float-down-right 400ms normal forwards ease-out;
    }

    &:nth-of-type(3n+1) {
      animation-delay: 150ms;
    }
  }

  .windshield &:nth-of-type(n+5) {
    align-self: start;
  }

  [data-turbo-preview] & { animation: none; }

  @media (hover: hover) {
    .windshield &:hover {
      animation: shimmy 400ms normal forwards ease-out;
      scale: 1.1;
      z-index: 999;

      .splat__svg {
        transform: rotate(calc(var(--splat-rotate) + 10deg));
      }
    }
  }

  > * {
    grid-area: 1/1;
  }

  .splat__perma & {
    --splat-size: 40vh !important;
  }
}

.splat__bubble {
  background-color: var(--color-bg);
  border: 0.3em solid var(--splat-color);
  border-radius: 50%;
  position: absolute;
  z-index: -1;

  a {
    color: var(--splat-color);
  }

  &:is(.splat__boosts) {
    aspect-ratio: 1;
    display: grid;
    min-inline-size: 6ch;
    padding: 0;
    place-items: center;
    inset: 55cqi -2cqi auto auto;

    a {
      grid-area: 1/1;
      text-decoration: none;
    }

    .windshield .splat:hover & {
      transform: translate(0, 1rem) !important;
    }

    &.boosting {
      animation: bubble-up 500ms normal forwards ease-out;
    }
  }

  &.splat__category {
    inset: auto auto 10cqi -3cqi;

    + & {
      inset: auto auto -2cqi 13cqi;

      + & {
        inset: auto auto -12cqi 29cqi;
      }
    }

    .windshield &:has(.splat__category--new) {
      display: none;
    }
  }

  &.splat__date {
    aspect-ratio: 1;
    inset: 2cqi 2cqi auto auto;
  }

  &:where(.splat__meta) {
    background-color: var(--color-bg);
    block-size: auto;
    color: var(--splat-color);
    display: flex;
    font-size: 5cqi;
    font-weight: 800;
    line-height: 1;
    max-inline-size: 18ch;
    padding: 1em;
    place-items: center;
    position: absolute;
    scale: 1;
    text-overflow: ellipsis;
    transform: none;
    transition: transform 200ms ease-out;
    white-space: nowrap;
    z-index: 1;

    &:has(.input) {
      border-radius: 2em;
      padding: 0.2em 0.5em;

      .input {
        color: var(--splat-color);
      }
    }
  }

  @media (hover: hover) {
    .windshield .splat:hover & {
      transform: translate(1rem, 1rem);
    }

    .windshield .splat:hover & + & {
      transform: translate(0, -1rem);
    }

    .windshield .splat:hover & + & + & {
      transform: translate(-1rem, -1rem);
    }
  }
}

.splat__link {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
}

.splat__notes {
  position: relative;
}

.splat__svg {
  fill: var(--color-bg);
  position: absolute;
  scale: 1.1;
  stroke: var(--splat-color);
  stroke-width: 1.1rem;
  transform: rotate(var(--splat-rotate));
  transition: all 200ms ease-out;
  z-index: -1;
}

.splat__title {
  -webkit-line-clamp: var(--lines, 5);
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 8cqi;
  hyphens: auto;
  line-height: 1.2;
  margin: auto;
  max-block-size: 75cqi;
  max-inline-size: 75cqi;
  overflow: hidden;
  pointer-events: none;
  text-overflow: clip;
  white-space: normal;
}

.splats-list {
  --hover-size: 0;

  .splat__title-link {
    color: var(--color-txt);
    text-decoration: none;
  }

  li {
    border-radius: 0.6em;
    list-style: none;
    padding: 0.5em 1em;
    transition: background-color 200ms ease;

    &:hover{
      background-color: var(--color-selected);
    }
  }
}
