<div class="filter align-center gap-half" data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
  <button class="btn btn--plain filter__button" data-action="click->dialog#toggle" data-dialog-modal-value="true">
    <%= main_filter_text %>
  </button>

  <dialog class="filter__popup panel fill-white shadow" data-dialog-target="dialog">
    <menu class="filter__menu unpad margin-none">
      <% Bucket::View::ORDERS.each do |key, value| %>
        <li><%= link_to value.humanize, bucket_bubbles_path(bucket, view_filter_params.merge(order_by: key, status: nil)), class: "filter__button" %></li>
      <% end %>

      <% Bucket::View::STATUSES.each do |key, value| %>
        <li><%= link_to value.humanize, bucket_bubbles_path(bucket, view_filter_params.merge(order_by: nil, status: key)), class: "filter__button" %></li>
      <% end %>
    </menu>
  </dialog>
</div>
